"fileTypes": [
    'feature',
    'robot'
]
"name": 'Gherkin'
"patterns": [
    {
        "match": '#(.*)$'
        "name": 'comment.line.gherkin'
    }
    {
        "match": '^\\.\\.\\.(.*)$'
        "name": 'comment.line.gherkin'
    }
    {
        "match": '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
        "name": 'support.class.gherkin'
    }
    {
        "match": '(\\$\\{.*?\\})|(@\\{.*?\\})'
        "name": 'string.single.qoute.gherkin'
    }
    {
        "match": '\\s*(Scenario\\:|Feature\\:|Scenario Outline\\:|Background\\:|Examples\\:|Ability\\:|Considerations\\:)'
        "name": 'keyword.gherkin'
    }
    {
        "match": '\\s*(Given|Then|When|And|But|^(In order to|As (an?)?|I))'
        "name": 'support.class.gherkin'
    }
    {
        "match": '(?<=\\s|^)(@[A-Za-z0-9_\\-]+\\([A-Za-z_\\-]+\\))'
        "name": 'entity.name.function.decorator.gherkin'
    }
    {
        "begin": '(^[^ \\t\\*\\n\\|]+)|((?<=^\\|)\\s+[^ \\t\\*\\n\\|]+)'
        "end": '\\s{2}|\\t|$|\\s+(?=\\|)'
        "name": 'keyword.gherkin'
    }
    {
        "match": '\\s(\\d*)\\s'
        "name": 'entity.name.function.decorator.gherkin'
    }
    {
        "begin": '([A-Z]\\w+):*([A-Z]\\w+)*\\s(Component|Email|View|Screen|Event)'
        "end": '\\s|\\n'
        "name": 'constant.other.character.element.name-${1:/downcase}.state-${2:/downcase}.type-${3:/downcase}'
        'beginCaptures':
            '1':
                'name': 'constant.other.element.name.${1:/downcase}'
            '2':
                'name': 'constant.other.element.state.${2:/downcase}'
            '3':
                'name': 'constant.other.element.type.${3:/downcase}'
    }
    {
        "match": ':(\\w+)'
        "name": 'keyword.state'
    }
    {
        "match": '(\\<\\w+\\>)'
        "name": 'constant.character.escape.feature'
    }
    {
        "match": "(\\s\\'.*?[^\\']\\'\\s)"
        "name": 'string.single.qoute.gherkin'
    }
    {
        "match": '(\\s\\".*?[^\\"]\\"\\s)'
        "name": 'string.double.qoute.gherkin'
    }
    {
        "match": "\\[(\\'.*?[^\\']\\')\\]"
        "name": 'constant.character.escape.feature'
    }
    {
        "match": '(\\[[^]]*\\])'
        "name": 'constant.numeric.gherkin.manifest'
    }
    {
        "match": '(t\\(([^\\)]*)\\))'
        "name": 'constant.numeric.gherkin.locale.manifest'
    }
    {
        "match": '\\|\\s(.*)\\s\\|'
        "name": 'constant.numeric.gherkin'
    }
]
"scopeName": 'source.feature'
