@import 'syntax-variables';

atom-text-editor, :host {
    .constant {
        &.element {
            color: #87c4f1;
            &:hover {
                // text-decoration: underline;
            }
            &.name {

            }
            &.state {
                color: #59adec;
            }
            &.type {

            }
        }
        &.manifest {
            color: #abb2bf; //#e06a5c;
            border-bottom: 1px dotted #abb2bf;
        }
    }
}
